.h2-wrap {
  text-align: center;
}

.container {
  display: flex;
}



.left-column {
  flex: 6; /* Take up 6/12 of the available space */
  padding: 10px; /* Add padding for spacing */
}

.right-column {
  flex: 6; /* Take up 6/12 of the available space */
  padding: 10px; /* Add padding for spacing */
}

//Mobile Friendly Media Query

@media (max-width: 481px) {
  * {
    display: block;
    position: relative;
    margin: 0
  }

  h2 {
    display: none;
  }

  app-variety-selector {
    position: fixed;
    bottom: 0;
  }
}


