<div class="h2-wrap">
  <h2>My SeedShelf:</h2>
</div>

<div class="container">
  <div class="left-column">
    @for (seed of seedCollection; track seed) {
      <div (click)="onGetSpecificSeed(seed)" [class.selected]="seedSelected === seed" class="seed-item">
        <button [style.background-color]="seed.displayColor"> 🌱 </button>
        <span><b>{{seed.type}}</b>, '{{seed.variety}}'</span>
        <button class="btn-seed-warn" style="width: 30%;" (click)="onRemoveSeed(seed)">
          Remove
        </button>
      </div>
    }
    <div class="seed-item">
      <button style="background-color: #000"> 🌱 </button>
      <input type="text" style="font-weight: bold;" [(ngModel)]="type" placeholder="Type,">
      <input type="text" [(ngModel)]="variety" placeholder="'Variety'">
      <button class="btn-seed-add" [disabled]="!type || !variety" style="width: 30%;" (click)="onCreateSeed()">
        Add Seed
      </button>
    </div>
  </div>
  <div class="right-column">
    <div>Uh</div>
  </div>
</div>