<div class="container">
  <form [formGroup]="signupForm" (ngSubmit)="signup()">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" formControlName="email" />
    </div>
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input type="text" formControlName="firstName" />
    </div>
    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input type="text" formControlName="lastName" />
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" formControlName="password" />
    </div>
    <div class="form-group">
      <label for="passwordConfirm">Confirm Password:</label>
      <input type="password" formControlName="passwordConfirm" />
    </div>
    <button type="submit" [disabled]="!signupForm.valid">Signup</button>

    <h5>Whoops, already a member?</h5>
    <button class="btn-seed-signup" routerLink="/login">Login</button>
  </form>
</div>