* {
  margin: 0;
  padding: 0;
}

nav {
  border-radius: 1rem;
}

.disabled {
  pointer-events: none;
  opacity: 0.5; /* Reduced visibility to indicate disabled */
}

.hidden {
  pointer-events: none;
  opacity: 0; /* Invisible but struturally present */
}

.nav-link-container {
  margin: 0 1rem 0 1rem;
  padding: .5rem;
  position: relative;
  background-color: transparent;
}

.nav-link-container:hover {
  background-color: var(--ssGold);
  border-radius: 1rem;
}