<nav style="background-color: var(--ssLightGreen); display: flex; justify-content: space-between;">

  <!-- SeedStory Link -->
<div style="margin-right: 1rem;" class="nav-link-container">
  <a href="http://seedstory.app" style="text-decoration: none; color: white; font-weight: bold;">Get SeedStory</a>
  </div>
  <!-- Dropdown Menu button or any other content -->

  <!-- Navigation Links -->
    <div style="margin-right: 1rem;" class="nav-link-container">
      <a style="text-decoration: none; color: white;" (click)="onSeedShelf()">My SeedShelf</a>
    </div>
    <div style="margin-right: 1rem;" class="nav-link-container">
      <a style="text-decoration: none; color: white;" (click)="onTrays()">My Trays</a>
    </div>
    <div class="nav-link-container">
      <a style="text-decoration: none; color: white;" routerLink="/login">Log Out</a>
    </div>


</nav>
