<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" formControlName="email" />
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" formControlName="password" />
    </div>
    <button type="submit" [disabled]="!loginForm.valid">Login</button>
    <button type="button" (click)="manuallySetToken()" >DEBUG MANUALLY SET TOKEN</button>
  </form>
</div>