<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" formControlName="email" />
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" formControlName="password" />
    </div>
    <button type="submit" [disabled]="!loginForm.valid">Login</button>
    <h5>Not a member yet?</h5>
    <button class="btn-seed-signup"  routerLink="/signup" >Sign Up!</button>
  </form>
</div>