.container {
  // width: fit-content;
  width: 24rem;
  height: 12rem;
  z-index: 2;
  border-style: solid;
  border-width: 5px;
  border-radius: .5em;
  background-color: black;
}

.row {
  display: flex;
}

.cell {
  // width: 2rem;
  // height: 2rem;
  border: 2px solid #000;
  border-radius: 0.5em;
  background-color: #C19A6B;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 481px) {
  .wrapper {
    margin-top: 1em;
    margin-left: 1em;
    transform: rotate(90deg);
    position: relative;
    top: 10vh; /* vh seems good here */
    right: 5vw; /* problems with css abound here */
    width: 100%;
    height: 100%;
  }
  .cell {
    transform: rotate(270deg);
  }
}