.horizontal-button-wrapper {
  display:flex;
  flex-direction: row;
}

.vertical-button-wrapper {
  display:flex;
  flex-direction: column;
}

.container {
  // width: fit-content;
  position: relative;


  // width: 24rem;
  // height: 12rem;
  z-index: 1;
  border-style: solid;
  border-width: .2rem;
  border-radius: .5em;
  background-color: #000;
}

.modal-overlay {
  position: relative;
  bottom: 100%;
  width: 100%;
  height: 100%;
  border-radius: .5em;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  z-index: 2; /* Place the overlay above the container */
}

.success {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12rem;
  height: 6rem;
  border-radius: .5em;
  font-size: 2em;
  background-color: var(--seedGreen);
  color: var(--appLightManilla);
  z-index: 3; /* Place the success modal above the overlay */
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
}

.cell {
  // width: 2rem;
  // height: 2rem;
  border: 2px solid #000;
  border-radius: 0.5em;
  background-color: #C19A6B;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}


.cell-select-down:hover,
.cell-select-across:hover,
.cell-select-all:hover {
  background-color: var(--seedActive); /* Change to a darker green on hover */
}
//UHHHHH
//UHHHHH
//UHHHHH

.cell-select-down,
.cell-select-across,
.cell-select-all {
  position: relative;
  border: 2px solid #000;
  border-radius: 0.5em;
  color: var(--ssGold);
  font-weight: bolder;
  background-color: var(--ssDarkGreen);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell-select-down {
  left: 0.2em;
  bottom: 0.2em;
}

.cell-select-across {
  left: 0.2em;
  top: 0.2em;
}

.cell-select-all {
  left: 0.4em;
  bottom: 0.2em;
  background-color: var(--ssLightGreen); /* Assuming --ssLightGreen is defined elsewhere */
}


@media (max-width: 481px) {
  .wrapper {
    margin-top: 1em;
    margin-left: 1em;
    transform: rotate(90deg);
    position: relative;
    top: 10vh; /* vh seems good here */
    right: 5vw; /* problems with css abound here */
    width: 100%;
    height: 100%;
  }
  .cell {
    transform: rotate(270deg);
  }
}