<div class="wrapper">

  @if (traySelected == null) {
    <div class="container" [style.display]="'none'"></div>
  } @else {
    <h5>Plant your Tray:</h5>
    <div class="horizontal-button-wrapper">
      @for (dwnbtn of getIterable(traySelected.cellsLong); track dwnbtn;) {
        <div class="cell-select-down" [style.height]="cellSize" [style.width]="cellSize" (click)="setGridCol($index)">↓</div>
      }
      <div class="cell-select-all" [style.width]="cellSize" [style.height]="cellSize" (click)="setGridAll()">⇙</div>
    </div>
    <div class="horizontal-button-wrapper">
      <div class="container">
              @if(saveSuccess) {
                <div class="modal-overlay">
                  <div class="success">
                    SUCCESS!
                  </div>
                </div>
              }
              @for (col of traySelected.gridValues!; track col; let i = $index) {
                <div class="row">
                  @for (row of traySelected.gridValues[i]; track row; let j = $index) {
                    @if (seedSelected == null) {
                    <div class="cell" [style.height]="cellSize" [style.width]="cellSize" (click)="setSelectedFromTray(traySelected.gridValues[i][j])" [style.background-color]="traySelected.gridValues[i][j].displayColor"> @if (traySelected.gridValues[i][j].variety != '') {<span>🌱</span>} </div>
                  } @else { <div class="cell" [style.height]="cellSize" [style.width]="cellSize" (click)="setGridValue(i,j)" [style.background-color]="traySelected.gridValues[i][j].displayColor"> @if (traySelected.gridValues[i][j].variety != '') {<span>🌱</span>} </div>
                }}
                </div>
              }
    </div>
    <div class="vertical-button-wrapper">
      @for (acrossbtn of getIterable(traySelected.cellsShort); track acrossbtn;) {
        <div class="cell-select-across" [style.height]="cellSize" [style.width]="cellSize" (click)="setGridRow($index)">←</div>
      }
    </div>
  <div class="save-button-wrapper">
    <button class="btn-seed-save" (click)="saveAsUserTray(traySelected)">Save Tray!</button>
  </div>
 </div>
  <br>


}
</div>

