<!-- Okay, so tomorrow morning we're going to make the setGridValue() enter a variety -->
<div class="wrapper">
  <div class="container">
    @for (col of traySelected.gridValues; track col; let i = $index) {
      <div class="row">
      @for (row of traySelected.gridValues[i]; track row; let j = $index) {
        <div class="cell" (click)="setGridValue(i,j)" [style.background-color]="traySelected.gridValues[i][j].displayColor"> @if (traySelected.gridValues[i][j].variety != '') {<span>🌱</span>} </div>
      }
    </div> }
  </div>
</div>

