:root {
  --ssDarkGreen: #2C8157;
  --ssMidGreen: #3B9C6C;
  --ssLightGreen: #4AB27E;
  --ssGold: #E0BC65;
  --trayPurp: #8580E4;
  --trayLav: #d6d6f6;
  --subBrown: #C76824;
  --seedGreen: #349C5F;
  --seedActive: #33b435;

  --appOrange: #EC742F;
  --bedBrown: #C76824;
  --taskGreen: #5EB097;
  --taskGold: #E4AC5B;
  --bedDarkBrown: #BA5421;

  --appManilla: #ecd7a6;
  --appLightManilla: #f9f3e5;
  --appGreen: #c4f9a6;
  --appBlue: #42ADD0;
  --appLightBlue: #a3ddee;
  --appLightPink: #F4C2C2;
  --appPeach: #F5D5B5;
  --appWarn: #990000;

  background-color: var(--appGreen);
}

body {
  font-family: 'Arial', sans-serif;
}

.btn-seedstory {
  color: black;
  background-color: var(--ssMidGreen);
  border-radius: 10rem;
}

.btn-seedstory:hover {
  box-shadow: inset 0 0 0 20rem var(--taskGold);
}

.btn-seedstory:active {
  box-shadow: inset 0 0 0 20rem var(--ssLightGreen),
}

.btn-seedstory:focus {
    outline: none;
    border-color: var(--ssLightGreen);
    box-shadow: 0 0 0 3px var(--ssMidGreen);
}

.btn-seedstory:disabled,
.btn-seedstory.is-disabled {
  opacity: .5;
}

.form-control {
  background-color: beige;
}

.form-control:focus {
    outline: none;
    border-color: var(--ssLightGreen);
    box-shadow: 0 0 0 3px var(--ssMidGreen);
}

.btn-seed-warn {
  margin-left: auto;
  background-color: #ff9898;
  /* Light red */
  border: 2px solid #990000; /* 2 pixels border with dark red color */
  border-radius: 0.5rem; /* Border radius of 0.5rem */
  color: #990000; /* Dark red text */
  transition: background-color 0.3s ease; /* Add transition for smoother color change */

  /* Hover state */
  &:hover {
    background-color: #ff3333; /* Change to a darker red on hover */
  }
}

.btn-seed-add {
  position: relative;
  background-color: var(--ssLightGreen); /* Green background color */
  border: 2px solid var(--ssDarkGreen); /* 2 pixels border with dark green color */
  border-radius: 0.5rem; /* Border radius of 0.5rem */
  color: var(--appLightManilla); /* Light Text */
  transition: background-color 0.3s ease; /* Add transition for smoother color change */
}

.btn-seed-add[disabled] {
  opacity: 0.5; /* Reduce opacity to visually indicate disabled state */
  cursor: not-allowed; /* Change cursor to indicate not clickable */
  filter: grayscale(25%); /* Apply grayscale filter to mute colors */
}

/* Hover state */
.btn-seed-add:hover {
  background-color: var(--seedActive); /* Change to a darker green on hover */
}

.btn-seed-neutral {
  margin-top: 1em;
  padding: 0.5em;
  border: 2px solid black;
  background-color: var(--appLightBlue);
  color: black;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}

.btn-seed-neutral:hover {
  background-color: var(--appBlue);
}

.btn-seed-signup {
  background-color: var(--ssLightGreen);
  padding: 0.75em;
  border: 2px solid var(--ssDarkGreen);
  border-radius: 0.5rem;
  color: black;
  transition: background-color 0.3s ease;
}

.btn-seed-signup:hover {
  background-color: var(--seedActive);
  color: black;  color: var(--appLightManilla);}

